<?xml version="1.0"?>
<zend-config>
    <plugin>
        <!-- unique identifier = folder name -->
        <pluginName>Multilingual</pluginName>
        <pluginNiceName>Multilingual Support</pluginNiceName>
        <pluginDescription>
            Enable Multilingual document support for Pimcore.
        </pluginDescription>
        <!-- Version, revision and timestamp are updated by createRevision script at check in to plugin server!-->
        <pluginVersion>3.0.0</pluginVersion>
        <!-- className of the plugin which extends Pimcore_API_Plugin_Abstract-->
        <pluginClassName>Multilingual\Plugin</pluginClassName>
        <!-- include paths relative to plugin-directory -->
        <pluginIncludePaths>
            <path>/Multilingual/lib</path>
            <path>/Multilingual/models</path>
        </pluginIncludePaths>
        <!-- namespaces to register with autoloader-->
        <pluginNamespaces>
            <namespace>Multilingual</namespace>
        </pluginNamespaces>
        <!-- js files needed for pimcore plugin (backend) with path relative to plugin-directory -->
        <pluginJsPaths>
            <path>/Multilingual/static/js/startup.js</path>
        </pluginJsPaths>
        <pluginCssPaths>
            <path>/Multilingual/static/css/cms.css</path>
        </pluginCssPaths>
        <!-- path to a configuration file which is directly opened in the file explorer when you click on the configure button in the extension manager -->
        <pluginXmlEditorFile>/website/var/plugins/Multilingual/config.xml</pluginXmlEditorFile>
    </plugin>
</zend-config>